//go:generate go tool templ generate

package main

func splitSchools(schools []SchoolStatus) (notCheckedIn []SchoolStatus, checkedIn []SchoolStatus, maxRows int) {
	for _, s := range schools {
		if s.CheckedIn {
			checkedIn = append(checkedIn, s)
		} else {
			notCheckedIn = append(notCheckedIn, s)
		}
	}
	maxRows = len(notCheckedIn)
	if len(checkedIn) > maxRows {
		maxRows = len(checkedIn)
	}
	return
}

templ schoolsToHtml(tournamentSchoolsStatus TournamentSchoolsStatus) {
	{{ notCheckedIn, checkedIn, maxRows := splitSchools(tournamentSchoolsStatus.SchoolsStatus) }}
	<!DOCTYPE html>
	<html>
	<head>
		<meta http-equiv="refresh" content="60">
	</head>
	<style>
		th, td {
			border: 1px solid black;
			text-align: center;
		}
		.center-table {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 5px;
		}
		.header-row {
			background-color: dodgerblue;
			color: white;
		}
	</style>
	<body>
	{{ backupTime := tournamentSchoolsStatus.UpdateTime }}
	<h1 style="text-align: center; width: 100%; background: pink; border: medium solid black;">School Check-In Status as of { backupTime }</h1>
	<table class="center-table">
		<tr class="header-row">
			<th style="background-color: red;">Not Checked In</th>
			<th style="background-color: green;">Checked In</th>
		</tr>
		for i := 0; i < maxRows; i++ {
			{{ rowStyle := "" }}
			if i % 2 == 0 {
				{{ rowStyle = "background: lightgray;" }}
			} else {
				{{ rowStyle = "background: white;" }}
			}
			<tr style={rowStyle}>
				if i < len(notCheckedIn) {
					<td style="color: red; font-weight: bold;">{ notCheckedIn[i].Name }</td>
				} else {
					<td></td>
				}
				if i < len(checkedIn) {
					<td style="color: green; font-weight: bold;">{ checkedIn[i].Name }</td>
				} else {
					<td></td>
				}
			</tr>
		}
	</table>
	</body>
	</html>
}
